# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env

# VSCode settings and workspace files
.vscode/
*.code-workspace

# Python virtual environments
env/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
.coverage.*

# mypy cache
.mypy_cache/
